<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>

    <div class="profile-container">
        <h2>User Details</h2>
        
        <div class="profile-item">
            <p class="title">Donor name:</p>
            <p>John Doe</p>
        </div>
        
        <div class="profile-item">
            <p class="title">Phone:</p>
            <p>1234567890</p>
        </div>

        <div class="profile-item">
            <p class="title">Donor id</p>
            <p>1760</p>
        </div>

        <div class="profile-item">
            <p class="title">Blood Group:</p>
            <p>O+</p>
        </div>
        <div class="profile-item">
            <p class="title">Last Donated:</p>
            <p>2023-19-10</p>
        </div>

        <a href="/" class="back-btn">Go Back</a>
    </div>

</body>
</html>
