<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="/styles/signup.css">
</head>
<body>

    <div class="registration-container">
        <h2>User Registration</h2>
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="blood-group">Blood group</label>
                <input type="text" id="blood-group" name="blood_group" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Register">
            </div>
            <div class="form-group">
                <a href="/" class="back-btn">Go Back</a>
            </div>
            
    </div>
        </form>

</body>
</html>
