body {
    font-family: Arial, sans-serif;
    background-color: #b15b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    background-color: #ba8686;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

.profile-item {
    margin-bottom: 10px;
}

.profile-item p {
    margin: 0;
    font-size: 18px;
    color: #2c2626;
}

.profile-item p.title {
    font-weight: bold;
    color: #000000;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #670505;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.back-btn:hover {
    background-color: #a7282a;
}
