body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #b15b5b;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-container {
    background-color: #ba8686;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #d7413f;
    color: white;
    border: none;
    border-radius: 20px;;
    cursor: pointer;
    margin-top: 15px;
}

.form-group input[type="submit"]:hover {
    background-color: #d7413f;
}

.back-btn {
    display: block;
    width: 400px;
    padding: 10px 0;
    background-color: #951919;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

.back-btn:hover {
    background-color: #a7282a;
}
